In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')

In [2]:
compra = pd.read_csv('data/1_Orden_compra.csv', sep=';')
compra.head()

,order_id,lat,lng,dow,promised_time,actual_time,on_demand,picker_id,driver_id,store_branch_id,total_minutes
0,6abd5e28d01b7c733fe37485294235dc,1.822.114.109.606.680,-10.031.391.366.664.600,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,91.800.861
1,0d37a1eea001f01b40232ffd496ff663,18.177.712.202.580.300,-10.035.705.073.096.900,2,13:00:00,10:28:10,False,c4c722114a82fa21654e57e9636d68b0,c4c722114a82fa21654e57e9636d68b0,2bbf833e689d24b697f1f3529c3f3c4b,206.599.732
2,528428e9b9eb5d3bd0dbdd8da692b087,1.826.683.205.404.410,-10.031.755.280.890.600,2,11:00:00,10:40:50,False,e15c7a67d0ea9a54dffb410bc1d8528b,e15c7a67d0ea9a54dffb410bc1d8528b,8d891dfc0e29d744c15c18adced74a68,93.458.001
3,d3f7be6d64eae7405b7bf024e04807a2,18.248.884.004.419.400,-1.003.226.215.187.040,2,10:00:00,9:41:47,False,d1f0bd4b237c1358f09db22076b940e7,d1f0bd4b237c1358f09db22076b940e7,0dc6fb5924a8b917bc641666ed02663c,124.778.761
4,e0ad6533b6cd9a382ec6c1d473c5036c,1.822.911.027.242.010,-10.032.267.241.783.800,2,11:00:00,10:07:53,False,06a71e8ab0c6db5ce22a4689fd76a3f4,06a71e8ab0c6db5ce22a4689fd76a3f4,afd0a7b8d546fcc697bb93a5934b65c3,130.321.208

In [4]:
compra.shape

(7295, 11)

In [5]:
productos = pd.read_csv('data/2_Orden_productos.csv', sep=';')
productos.head()

,order_id,product_id,quantity,quantity_found,buy_unit
0,bdfc44fb525986b7bab8c589fc47e853,ab9757d9892b0e83ab3a1c1af0c84c52,0.75,0.155,KG
1,bdfc44fb525986b7bab8c589fc47e853,f1f042251bf634d44f338fbaf13b16e4,0.3,0.400,KG
2,bdfc44fb525986b7bab8c589fc47e853,0630d47440965509b0b3f80fd1b3578f,1,1.000,UN
3,bdfc44fb525986b7bab8c589fc47e853,9dd69b1f300666d5573e3a9934f2e03e,2,2.000,UN
4,bdfc44fb525986b7bab8c589fc47e853,3dfcdbe308bde67370649dd875f2507b,1,1.000,UN

In [6]:
productos.shape

(120876, 5)

In [7]:
recolector = pd.read_csv('data/3_Recolector.csv', sep=';')
recolector.head()

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
0,087ab65ceca40dbef697f585dc159d5d,ADVANCED,0.8610,1.64,1.00,4.48
1,645973c41314d763b58dc2bceeeeffc9,INTERMEDIATE,0.8337,2.83,0.96,4.79
2,82810715fdda44962e7e422015ea1f32,ADVANCED,0.8681,1.27,0.88,4.84
3,416aa7dbd5a2f58d7bca96657e8faa1e,INTERMEDIATE,0.8784,2.11,1.00,NaN
4,27a3e845a4c3eb7ded4748f84140a843,ADVANCED,0.8466,1.50,1.00,4.84

In [8]:
recolector.shape

(600, 6)

In [9]:
tienda = pd.read_csv('data/4_tienda.csv', sep=';')
tienda.head()

,store_branch_id,store,lat,lng
0,cf0895f1e3beb8164f0a86e6f940ae56,c0b93cf93cf854981b8d6bd849eec4b0,18.160.308.413.602.800,-10.026.067.265.111.100
1,3ddd4c29cab4178d89d549c6ba65c236,044d56734d20e04984d846dade6d39f3,1.827.282.968.914.450,-10.031.881.435.593.900
2,e9763f24fd46d0b9e52d423207a87c3c,452ae015bf846e1d2932b7ea15720d64,18.273.494.015.704.800,-10.031.958.539.978.200
3,49b7d60d6095a9f1129ce798102b62f4,6447951cd071f6f045fd4e6194920926,1.824.774.341.566.610,-10.040.355.771.938.600
4,8f21cfda17b340aeee062220d0bee8e5,452ae015bf846e1d2932b7ea15720d64,18.203.111.495.565.700,-10.029.771.361.550.100

In [10]:
tienda.shape

(113, 4)

In [11]:
#Consolidación de los df compra y prodructos
df = pd.merge(compra, productos, how='left', on='order_id')

In [12]:
#se cambia el nombre de la columna del df recolector
recolector.rename(columns={'shopper_id':'picker_id'}, inplace=True)
#Consolidación del df con recolector
df = pd.merge(df, recolector, how='left', on='picker_id')

In [13]:
#consolidación de todos los dataset
df = pd.merge(df, tienda, how='left', on='store_branch_id')

In [14]:
df.shape

(120893, 23)

In [15]:
df.to_csv('data/consolidado.csv', header=True, index=False)

In [16]:
df.head()

,order_id,lat_x,lng_x,dow,promised_time,actual_time,on_demand,picker_id,driver_id,store_branch_id,...,quantity_found,buy_unit,seniority,found_rate,picking_speed,accepted_rate,rating,store,lat_y,lng_y
0,6abd5e28d01b7c733fe37485294235dc,1.822.114.109.606.680,-10.031.391.366.664.600,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,...,1.000,UN,ADVANCED,0.8564,1.56,1.0,4.68,60e4c4e1c1a8bc79123738227b9d0b08,1.823.190.132.492.320,-1.003.035.533.737.440
1,6abd5e28d01b7c733fe37485294235dc,1.822.114.109.606.680,-10.031.391.366.664.600,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,...,3.000,UN,ADVANCED,0.8564,1.56,1.0,4.68,60e4c4e1c1a8bc79123738227b9d0b08,1.823.190.132.492.320,-1.003.035.533.737.440
2,6abd5e28d01b7c733fe37485294235dc,1.822.114.109.606.680,-10.031.391.366.664.600,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,...,1.000,UN,ADVANCED,0.8564,1.56,1.0,4.68,60e4c4e1c1a8bc79123738227b9d0b08,1.823.190.132.492.320,-1.003.035.533.737.440
3,6abd5e28d01b7c733fe37485294235dc,1.822.114.109.606.680,-10.031.391.366.664.600,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,...,1.000,UN,ADVANCED,0.8564,1.56,1.0,4.68,60e4c4e1c1a8bc79123738227b9d0b08,1.823.190.132.492.320,-1.003.035.533.737.440
4,6abd5e28d01b7c733fe37485294235dc,1.822.114.109.606.680,-10.031.391.366.664.600,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,...,0.415,KG,ADVANCED,0.8564,1.56,1.0,4.68,60e4c4e1c1a8bc79123738227b9d0b08,1.823.190.132.492.320,-1.003.035.533.737.440

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120893 entries, 0 to 120892
Data columns (total 23 columns):
order_id           120893 non-null object
lat_x              120893 non-null object
lng_x              120893 non-null object
dow                120893 non-null int64
promised_time      120893 non-null object
actual_time        120893 non-null object
on_demand          120893 non-null bool
picker_id          120893 non-null object
driver_id          120893 non-null object
store_branch_id    120893 non-null object
total_minutes      108828 non-null object
product_id         120876 non-null object
quantity           120876 non-null object
quantity_found     120876 non-null float64
buy_unit           120876 non-null object
seniority          120893 non-null object
found_rate         120100 non-null float64
picking_speed      120893 non-null float64
accepted_rate      120828 non-null float64
rating             120131 non-null float64
store              120893 non-null object
lat_y              120893 non-null object
lng_y              120893 non-null object
dtypes: bool(1), float64(5), int64(1), object(16)
memory usage: 21.3+ MB

In [19]:
df.isnull().any()

order_id           False
lat_x              False
lng_x              False
dow                False
promised_time      False
actual_time        False
on_demand          False
picker_id          False
driver_id          False
store_branch_id    False
total_minutes       True
product_id          True
quantity            True
quantity_found      True
buy_unit            True
seniority          False
found_rate          True
picking_speed      False
accepted_rate       True
rating              True
store              False
lat_y              False
lng_y              False
dtype: bool

In [27]:
#Reemplazo los nan
df.replace('nan', np.nan, inplace=True)

In [32]:
df.isnull().any()

order_id           False
lat_x              False
lng_x              False
dow                False
promised_time      False
actual_time        False
on_demand          False
picker_id          False
driver_id          False
store_branch_id    False
total_minutes       True
product_id          True
quantity            True
quantity_found      True
buy_unit            True
seniority          False
found_rate          True
picking_speed      False
accepted_rate       True
rating              True
store              False
lat_y              False
lng_y              False
dtype: bool

In [33]:
df.dropna(inplace=True)
df.isnull().any()

order_id           False
lat_x              False
lng_x              False
dow                False
promised_time      False
actual_time        False
on_demand          False
picker_id          False
driver_id          False
store_branch_id    False
total_minutes      False
product_id         False
quantity           False
quantity_found     False
buy_unit           False
seniority          False
found_rate         False
picking_speed      False
accepted_rate      False
rating             False
store              False
lat_y              False
lng_y              False
dtype: bool

In [34]:
df.shape

(107952, 23)